.avatar-wrapper {
    margin-top: 30px;
}

.avatar {
    object-fit: cover;
    width: 165px;
    border-radius: 50%;
}

@media screen and (max-width: 992px) {
    .avatar {
        width: 120px;
    }

    .avatar-wrapper {
        margin-top: 60px;
    }
}
